$background: url('/img/helly-background-green-min.jpg') no-repeat center center fixed;
$font-style: "Muli", sans-serif;
$link-color: #005a00;
$contact-background: #d6c099 url('/img/tweed-compressor.png') repeat center center;   
$facebook-color: #3b5998;
$twitter-color: #55acee;
$pinterest-color: #cb2027;
$black: #000;
$white: #fff;
$gold-button: url('/img/light_herringbone-compressor.png') repeat;
$teal-button: #fff url('/img/tweed-compressor.png') repeat center center; 
$flippy-button: url('/img/flippylight_herringbone-compressor.png') repeat center center;  
$linen-button: url('/img/linen_herringbone-compressor.png') repeat center center;  
$green-h-button: url('/img/lightgreen_herringbone-compressor.png') repeat center center;   
$medium-shadow: #939393;
$light-shadow: #d3d3d3;
$lightest-shadow: #a9a9a9;
$content-background: url('/img/lightceladon_herringbone-compressor.png') repeat center center;   

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}