
html { 
    background: $background;
    background-size: cover;
}


body {
    font-family: $font-style;
}

h1 {
    line-height:2.5rem;
}

a {
    color: $link-color;
}


.contact {
    align-items: center; 
    align-items: center; 
    background: $contact-background;
    border-radius:10px;
    box-shadow: inset 0 0 10px #666;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-weight: 700;
    justify-content: flex-start; 
    line-height:1.5em;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    position: absolute;
    right:2em;
    top:2em;
    text-align: center;
    z-index:9999;

    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }

    a {
        color: $white;
    }
}



.contact-details {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 1em;
}

.social-list {
    line-height: 1em;
    list-style-type: none;
    padding:0;
    text-align: center;

    li {
        display:inline-block;

            a {
                padding: 0.75em;
            }
    }
}

.fa-2x {
    font-size: 1.5em !important;
}

.fa-facebook {
    color: $facebook-color;
}

.fa-instagram {
    color: $black;
 }

.fa-twitter {
    color: $twitter-color;
}

.fa-pinterest {
    color: $pinterest-color;
}

.logoContainer {
   height:auto;  
}

.imgContainer {
    height: 40%;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;
    width: 95%;

    h2 {
        display:none;
    }
}

.logo {
    position: relative;
    width: 100%;
}

.button {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #666;
    display: block;
    font-weight:700;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    position: absolute;
    text-transform: uppercase;
    text-decoration:none;

    &:hover {
         box-shadow: inset 0 0 20px #4d4d4d;
    }
}


.goto_btn {
    background: $gold-button; 
    color: $black;
    right: 75%;
    top: 62%;
    text-shadow: 1px 1px $light-shadow;
}

.goto_btn2 {
    background: $teal-button;
    background-size: cover;
    color: $white;
    right: 75%;
    top: 71%;
    text-shadow: 1px 1px $black;
    transform: matrix(1, -0.2, 0.2, 1, 0.5, 0.5); 
}

.goto_btn3 {
    background: $flippy-button;
    background-size: cover;
    color: $black;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    right:73%;
    top: 81%;
    text-shadow: 1px 1px $medium-shadow;
    transform: matrix(1, -0.4, 0.5, 1, 0.5, 0.5); 
}


.goto_btn4 {
    background: $linen-button;
    background-size: cover;
    color: $black;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    right:71.8%;
    top: 91%;
    text-shadow: 1px 1px $lightest-shadow;
    transform: matrix(1, -0.8, 1, 1, 0.5, 0.5); 
}

.goto_btn5 {
    background: $green-h-button;
    color: $white;
    font-size: 0.75rem;
    right:66.7%;
    top: 100%;
    text-shadow: 1px 1px $black;
    transform: matrix(0.7, -0.8, 1, 1, 0.5, 0.5); 
}

.content {
    color: $black;
    font-size: 1em;
    font-weight: 600;
    line-height:1.5em;
    text-align: center;

    a {
        color: $black;
        font-weight: bold;
    }

    .content-inner {
        background: $content-background;
        border-radius:10px;
        box-shadow: inset 0 0 10px #666;
        margin: 6em auto 2em;
        padding: 2em;
        width: 80%;
    }

}



footer {
    text-align: center;
    font-weight:600;
}


@media screen and (min-width: 1500px) {

    .goto_btn {
        right: 75.5%;
    }

    .goto_btn2 {
        right: 75.5%;
        top: 69%;
    }

    .goto_btn3 {
        right:73.7%;
        top: 77.1%;
    }

    .goto_btn4 {
        right:72.9%;
        top: 85.2%;
    }

    .goto_btn5 {
        font-size: 1rem;
        right:68.5%;
        top: 95%;
        transform: matrix(0.7, -0.9, 1, 0.5, 0.5, 0.5);
    }

}

@media screen and (max-width: 1500px) {

    .contact {
        right: 0.5em;
        top: 0.5em;
    }

}



@media screen and (max-width: 1200px) {

    .contact {
        font-size: 0.8rem;
    }

    .button {
        padding: 0.25rem 1rem;
    }

    .goto_btn3 {
        right:72.7%;
        top: 81.5%;
        padding: 0.5rem 1rem !important;
    }

    .goto_btn4 {
        top: 92%;
    }

    .fa-2x {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 1100px) {

    .contact {
        position: relative;
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;

          h2 {
            padding-top:2rem;
            padding-bottom: 0.75rem;
        }

        fa-2x {
            font-size: 2rem;
        }
    }



}


@media screen and (max-width: 1000px) {

    .button {
        font-size:0.75rem;
    }

    .goto_btn4, .goto_btn5 {
        font-size: 0.6rem;
    }

    .goto_btn {
        top: 64%;
    }

    .goto_btn2 {
        top: 73%;
    }

    .goto_btn3 {
        font-size: 1rem;
        top: 85%;
    }

    .goto_btn4 {
        right: 71%;
        top: 96.7%;
    }

    .goto_btn5 {
        right: 64.5%;
        top: 104%;
    }

}

@media screen and (max-width: 750px) {
   

    .button {
        font-size: 1rem;
        margin: 0.5rem auto;
        position: static;
        transform: none;
        text-align: center;
        width:50%;
    }

    .goto_btn3 {
        font-size: 1.25rem;
    }

    .imgContainer a {
        text-decoration:none;
    }

    .content {
        margin-top: 2em;
    }
}


@media screen and (max-width: 500px) {

    .button {
        width: auto;
    }

}